.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    border: 2px solid black;
    border-radius: 10px;
}
.name{
    background-color: #ccc;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0;
}
.content{
    margin-left: 10px;
}